@page "/Categoria"
@using Intranet.Modelos.Admin;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "SuperAdmin, Administracion")]

<PageTitle>Categoria</PageTitle>

<nav class="navbar navbar-expand-lg justify-content-center mb-5"
     style="border-radius: 10px; background-color: #00bbb4">
    <h1 class="navbar-brand" href="#" style="color: black; font-weight: bold">
        Categoria
    </h1>
</nav>
 <AuthorizeView Roles="SuperAdmin,AgregarCategoria" Context="context">
   <Authorized>
        <div class="row">
            <div class="Botones">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" OnClick="@(() => AgregarMostrarModal())" Color="Color.Primary" Class="ml-auto float-start">Agregar</MudButton>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

<div class="row">
    <div class="Buscador input-group mt-2">
        <input type="text" class="form-control" placeholder="Buscar..." @bind="searchTerm">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" @onclick="@(()=>Buscar())">Buscar</button>
        </div>
    </div>
</div>

<div class="row">
    <div class=" mt-2">
        <MudDataGrid T="C1_Categoria" Items="@CategoriaData" ColumnResizeMode="@(_resizeColumn ? ResizeMode.Column : ResizeMode.Container)"
                     RowsPerPage="5" RowStyle="background-color: #FFFFFF;" Style="background-color: #EEEEEE;">
            <Columns>
                <AuthorizeView Roles="SuperAdmin,EliminarCategoria,EditarCategoria,ConsultarCategoria" Context="context">
                    <Authorized>
                        <TemplateColumn Title="Acciones" Sortable="false">
                            <CellTemplate Context="context2">
                                <AuthorizeView Roles="SuperAdmin,EditarCategoria" Context="context3">
                                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary" Title="Editar" Size="@Size.Medium" OnClick="@(() => Editar(context2))" />
                                </AuthorizeView>
                                <AuthorizeView Roles="SuperAdmin,EliminarCategoria" Context="context3">
                                    <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" Title="Eliminar" Size="@Size.Medium" OnClick="@(() => Eliminar(context2))" />
                                </AuthorizeView>
                            </CellTemplate>
                        </TemplateColumn>
                    </Authorized>
                </AuthorizeView>
                <PropertyColumn Property="x => x.Nombre" Title="Nombre" Sortable="true" />
            </Columns>
            <PagerContent>
                <MudDataGridPager T="C1_Categoria" RowsPerPageString="Filas por página" PageSizeOptions=@(new int[] {5, 10, 20}) />
            </PagerContent>
        </MudDataGrid> 
    </div>
</div>

@if (mostrarModalNuevo)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar</h5>
                    <button type="button" class="close" @onclick="CerrarModalNuevo">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <EditForm Model="@NuevoRegistro" OnValidSubmit="Guardar">
                    <DataAnnotationsValidator />
                    <MudGrid>
                        <MudItem xs="12" sm="12">
                            <MudCard>
                                <MudCardContent>
                                    <MudTextField Label="Nombre" @bind-Value="NuevoRegistro.Nombre" For="@(() => NuevoRegistro.Nombre)" />
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton ButtonType="ButtonType.Button" OnClick="CerrarModalNuevo" Variant="Variant.Filled" Color="Color.Error" Class="ml-auto">Cancelar</MudButton>
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Guardar</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}
@if (mostrarModalEditar)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar</h5>
                    <button type="button" class="close" @onclick="CerrarModalEditar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <EditForm Model="@EditarRegistro" OnValidSubmit="Actualizar">
                    <DataAnnotationsValidator />
                    <MudGrid>
                        <MudItem xs="12" sm="12">
                            <MudCard>
                                <MudCardContent>
                                    <MudTextField Label="Nombre" @bind-Value="EditarRegistro.Nombre" For="@(() => EditarRegistro.Nombre)" />
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton ButtonType="ButtonType.Button" OnClick="CerrarModalEditar" Variant="Variant.Filled" Color="Color.Error" Class="ml-auto">Cancelar</MudButton>
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Guardar</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>

}

@if (mostrarModalEliminar)
{
    <div class="modal show  d-flex justify-content-center align-items-center" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Eliminación</h5>
                    <button type="button" class="close" @onclick="CerrarModalEliminar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar la categoria <span style="font-weight: bold;"> @RegistroEliminar.Nombre </span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CerrarModalEliminar">Cancelar</button>
                    <button type="button" class="btn btn-danger" @onclick="EliminarRegistro">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}

@code {

}
