@page "/tablero"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]


@* Diseño personalizado de Dashboard *@
<style>
    body {
        /* background-image: url("img/19.jpg"); */
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .card {
        background-color: rgba(0, 187, 180, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

        .card:hover {
            box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
        }

    a:hover h4 {
        color: black;
    }

    .icono-grande {
        font-size: 100px !important;
    }
</style>

@* Estructura de la Dashboard *@

<div class="navbar navbar-expand-lg justify-content-center"
     style="border-radius: 10px; background-color: #EEEEEE">
    <h1 class="navbar-brand" href="#" style="color: black; font-weight: bold">
        Tableros
    </h1>
</div>


<div class="container-fluid mt-4">
    @if (MostrarTableroPrincipal)
    {
        <div class="row">
            <AuthorizeView Roles="SuperAdmin, Noticias" Context="context">
                <Authorized>
                    <div class="col-md-4 mb-4">
                        <a href="noticia">
                            <div class="card d-flex flex-column justify-content-center align-items-center" style="cursor: pointer;">
                                <MudIconButton Icon="@Icons.Material.Outlined.Newspaper" Color="Color.Dark" Title="Noticias" Size="Size.Large" Class="icono-grande" />
                                <h4 class="mt-3"> Noticias  </h4>
                            </div>
                        </a>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="SuperAdmin, AgendaTelefonica" Context="context">
                <Authorized>
                    <div class="col-md-4 mb-4">
                        <a href="agenda">
                            <div class="card d-flex flex-column justify-content-center align-items-center" style="cursor: pointer;">

                                <MudIconButton Icon="@Icons.Material.Outlined.ContactPhone" Color="Color.Dark" Title="Agenda" Size="Size.Large" Class="icono-grande" />
                                <h4 class="mt-3">Agenda Telefónica</h4>
                            </div>
                        </a>
                    </div>
                </Authorized>
            </AuthorizeView>
            <div class="col-md-4 mb-4">
                <a href="/sobrefenix">
                    <div class="card d-flex flex-column justify-content-center align-items-center" style="cursor: pointer;">
                        <MudIconButton Icon="@Icons.Material.Outlined.FamilyRestroom" Color="Color.Dark" Title="Calendario" Size="Size.Large" Class="icono-grande" />
                        <h4 class="mt-3">Sobre Fénix</h4>
                    </div>
                </a>
            </div>
            <AuthorizeView Roles="SuperAdmin, Calendario" Context="context">
                <Authorized>
                    <div class="col-md-4 mb-4">
                        <a href="/Reunion-Agenda">
                            <div class="card d-flex flex-column justify-content-center align-items-center" style="cursor: pointer;">
                                <MudIconButton Icon="@Icons.Material.Outlined.CalendarMonth" Color="Color.Dark" Title="Calendario" Size="Size.Large" Class="icono-grande" />
                                <h4 class="mt-3">Calendario</h4>
                            </div>
                        </a>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="SuperAdmin, SoporteTecnico" Context="context">
                <Authorized>
                    <div class="col-md-4 mb-4" @onclick="() => MiFuncion(1)">                      
                            <div class="card d-flex flex-column justify-content-center align-items-center" style="cursor: pointer;">
                                <MudIconButton Icon="@Icons.Material.Outlined.Support" @onclick="() => MiFuncion(1)" Color="Color.Dark" Title="soporte técnico" Size="Size.Large" Class="icono-grande" />
                                <h4 class="mt-3">Soporte Técnico</h4>
                            </div>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="SuperAdmin, Planillas" Context="context">
                <Authorized>
                    <div class="col-md-4 mb-4" @onclick="() => MiFuncion(2)">                      
                            <div class="card d-flex flex-column justify-content-center align-items-center" style="cursor: pointer;">
                            <MudIconButton Icon="@Icons.Material.Outlined.Assessment" @onclick="() => MiFuncion(2)" Color="Color.Dark" Title="Planillas" Size="Size.Large" Class="icono-grande" />
                                <h4 class="mt-3">Planillas</h4>
                            </div>                      
                    </div>
                </Authorized>
            </AuthorizeView>

        </div>
    }

    @if (MostrarSoporteTecnico)
    {
        <div class="row">
            <div class="col-2 col-md-1">
                    <MudIconButton Icon="@Icons.Material.Outlined.ArrowBack" @onclick="Atras" Color="Color.Dark" Title="Regresar" Size="Size.Large" Class="icono-grande" />
            </div>
            <div class="col-2 d-flex flex-column justify-content-center" @onclick="Atras">
                <h4>Atrás</h4>
            </div>                                                         
        </div>
        <div class="row">
            <AuthorizeView Roles="SuperAdmin, DireccionIp" Context="context">
                <Authorized>
                    <div class="col-md-4 mb-4">
                        <a href="/Direccion-ip">
                            <div class="card d-flex flex-column justify-content-center align-items-center" style="cursor: pointer;">
                                <MudIconButton Icon="@Icons.Material.Outlined.Computer" Color="Color.Dark" Title="Direcciones IP" Size="Size.Large" Class="icono-grande" />
                                <h4 class="mt-3"> Direcciones IP </h4>
                            </div>
                        </a>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="SuperAdmin, EquipoDireccionIp" Context="context">
                <Authorized>
                    <div class="col-md-4 mb-4">
                        <a href="/Equipo-Direccion-ip">
                            <div class="card d-flex flex-column justify-content-center align-items-center" style="cursor: pointer;">
                                <MudIconButton Icon="@Icons.Material.Outlined.Print" Color="Color.Dark" Title="Equipo direcciones IP" Size="Size.Large" Class="icono-grande" />
                                <h4 class="mt-3">Equipo direcciones IP</h4>
                            </div>
                        </a>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
    }
    @if (MostrarPlanillas)
    {
        <div class="row">
            <div class="col-2 col-md-1">
                <MudIconButton Icon="@Icons.Material.Outlined.ArrowBack" @onclick="Atras" Color="Color.Dark" Title="Regresar" Size="Size.Large" Class="icono-grande" />
            </div>
            <div class="col-2 d-flex flex-column justify-content-center" @onclick="Atras">
                <h4>Atrás</h4>
            </div>
        </div>
        <div class="row">
            <AuthorizeView Roles="SuperAdmin, InspeccionDeHabitaciones" Context="context">
                <Authorized>
                    <div class="col-md-4 mb-4">
                        <a href="/Insp-Hab">
                            <div class="card d-flex flex-column justify-content-center align-items-center" style="cursor: pointer;">
                                <MudIconButton Icon="@Icons.Material.Outlined.Computer" Color="Color.Dark" Title="Inspección de Habitaciones" Size="Size.Large" Class="icono-grande" />
                                <h4 class="mt-3"> Inspección de Habitaciones </h4>
                            </div>
                        </a>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="SuperAdmin, RevisionMantenimientoTecnico" Context="context">
                <Authorized>
                    <div class="col-md-4 mb-4">
                        <a href="/Revision-Mantenimiento-Tecnico">
                            <div class="card d-flex flex-column justify-content-center align-items-center" style="cursor: pointer;">
                                <MudIconButton Icon="@Icons.Material.Outlined.Print" Color="Color.Dark" Title="Revisión de Mantenimiento Técnico" Size="Size.Large" Class="icono-grande" />
                                <h4 class="mt-3">Revisión de Mantenimiento Técnico</h4>
                            </div>
                        </a>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
    }

</div>

@code 
{
    
    
}


