@page "/Revision-Mantenimiento-Tecnico"
@using Intranet.Modelos.Agenda;
@using Intranet.Modelos.Planillas.RevisionMantenimientoTecnico;
@using Microsoft.EntityFrameworkCore
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "SuperAdmin,AgendaTelefonica")]

<PageTitle>Revisión de Mantenimiento Técnico</PageTitle>

<div class="col-12 navbar navbar-expand-lg justify-content-center mb-5"
     style="border-radius: 10px; background-color: #00bbb4">
    <h1 class="navbar-brand" href="#" style="color: black; font-weight: bold">
        Revisión de Mantenimiento Técnico
    </h1>
</div>

<div class="mb-3 mt-3">
    <div class="col-6">
        <MudSelect T="string" Label="Selecciona un área"
                   Value="AreaInforme" ValueChanged="OnAreaInformeSeleccionadaChanged" AnchorOrigin="Origin.BottomCenter">
            @foreach (var areaInforme in ListAreaInforme)
            {
                <MudSelectItem Value="@areaInforme.Nombre" />
            }
        </MudSelect>
    </div>
</div>

<AuthorizeView Roles="SuperAdmin,AgregarAgendaTelefonica" Context="context">
   <Authorized>
    <div class="mb-3" >
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" hidden="@MostrarBotonAgregarYBuscador" OnClick="@(() => Nuevo())" Color="Color.Success" Class="ml-auto">Agregar</MudButton>
    </div>
    </Authorized>
</AuthorizeView>


<div class="input-group mb-4 ">
    <input type="text" class="form-control" hidden="@MostrarBotonAgregarYBuscador" placeholder="Búsqueda por usuario" @bind="searchTerm" @oninput="Buscar2">
</div>

<MudDataGrid T="PlanillaDigitalDataGrid" Items="@DireccionTelefonica" ColumnResizeMode="@(_resizeColumn ? ResizeMode.Column : ResizeMode.Container)"
             RowsPerPage="6" RowStyle="background-color: #FFFFFF;" Style="background-color: #EEEEEE;">
    <Columns>
        <AuthorizeView Roles="SuperAdmin,AgregarAgendaTelefonica,EliminarAgendaTelefonica,EditarAgendaTelefonica,ConsultarAgendaTelefonica" Context="context">
            <Authorized>
                <TemplateColumn Title="Acciones" Sortable="false">
                    <CellTemplate Context="context2">
                        <AuthorizeView Roles="SuperAdmin,EditarAgendaTelefonica" Context="context3">
                            <MudIconButton Icon="@Icons.Material.Outlined.Preview" Color="Color.Info" Title="Editar" Size="@Size.Medium" OnClick="@(() => Editar(context2))" />
                        </AuthorizeView>

                        <AuthorizeView Roles="SuperAdmin,EliminarAgendaTelefonica" Context="context3">
                            <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" Title="Eliminar" Size="@Size.Medium" OnClick="@(() => Eliminar(context2))" />
                        </AuthorizeView>

                    </CellTemplate>
                </TemplateColumn>
            </Authorized>
        </AuthorizeView>
        <PropertyColumn Property="x => x.UsuarioCreador" Title="Usuario" Sortable="true" />
        <PropertyColumn Property="x => x.Zona" Title="Zona" Sortable="false" />
        <PropertyColumn Property="x => x.TipoZona" Title="Tipo zona" Sortable="false" />
        <PropertyColumn Property="x => x.FechaCreacion" Title="Fecha" Sortable="false" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="PlanillaDigitalDataGrid" RowsPerPageString="Filas por página" PageSizeOptions=@(new int[] {6, 12, 20}) />
    </PagerContent>
</MudDataGrid> 

@if (mostrarModalEliminar)
{
    <div class="modal show  d-flex justify-content-center align-items-center" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Eliminación</h5>
                    <button type="button" class="close" @onclick="CerrarModalEliminar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este registro, 
                    <b> creado por: </b>  @eliminarPlanillaDigital.UsuarioCreador
                    <b> Zona: </b> @eliminarPlanillaDigital.ZonaTipoZona
                    <b> fecha creación: </b> @eliminarPlanillaDigital.FechaCreacion 
                    ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CerrarModalEliminar">Cancelar</button>
                    <button type="button" class="btn btn-danger" @onclick="EliminarRegistro">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}

@if (mostrarModalNuevo)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-lg modal-dialog-centered justify-content-center" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title">Agregar</h5>
                <button type="button" class="close" @onclick="CerrarModalNuevo">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                        <MudPaper Width="100%" Square="true">
                                @if(configPantalla != null && !configPantalla.AgruparCuerpos){ 
                                @if (configPantalla != null && configPantalla.Cuerpo.Count() > 1)
                                {
                                    <div class="mb-3 mt-3">
                                        <div class="row">
                                        <div class="col-6">
                                            <MudSelect T="string" Label="Selecciona una zona"
                                                       Value="zonaRevision" ValueChanged="OnZonaRevisionSeleccionadaChanged" AnchorOrigin="Origin.BottomCenter">
                                                @foreach (var zona in configPantalla.Cuerpo)
                                                {
                                                    @foreach (var zonaDescripcion in zona.zonaRevision)
                                                    {
                                                        <MudSelectItem Value="@zonaDescripcion.Nombre" />
                                                    }
                                                }
                                            </MudSelect>
                                        </div>
                                        @if (listaTipoZona.Count() > 0)
                                        {
                                            <div class="col-6">
                                                <MudSelect T="string" Label="Selecciona un tipo"
                                                                   Value="TipozonaSelecionada" ValueChanged="OnTipoZonaSeleccionadaChanged" AnchorOrigin="Origin.BottomCenter">

                                                    @foreach (var tipoZona in listaTipoZona)
                                                    {
                                                        <MudSelectItem Value="@tipoZona.Nombre" />
                                                    }
                                                    
                                                </MudSelect>
                                            </div>
                                        }
                                        </div>
                                    </div>
                                }
                            @if ((MostrarFormulario || listaTipoZona.Count() == 0) && !string.IsNullOrEmpty(zonaRevision))
                                {
                                    <EditForm Model="@CreateRegistro" OnValidSubmit="GuardarAgenda">
                                        <DataAnnotationsValidator />
                                            <MudItem xs="12" sm="12">
                                                <MudCard>
                                                    <MudCardContent>
                                                         <div class="container">
                                                            <div style="overflow-y: auto; height: 500px;"> 
                                                            @foreach(var zona1 in CreateRegistro)
                                                            {
                                                                <div class="container">
                                                                        <div class="row border">
                                                                            <div class="col-3 justify-content-center align-items-center align-content-center text-center">
                                                                            @zona1.Nombre
                                                                        </div>
                                                                        <div class="col-9 bg-gradient">
                                                                            @foreach (var material in zona1.Propiedad)
                                                                            {
                                                                                if (!material.Deshabilitado)
                                                                                {
                                                                                    <div class="row">
                                                                                        <div class="col-3 justify-content-center align-items-center align-content-center text-center">
                                                                                            <span>@material.Nombre </span>
                                                                                        </div>
                                                                                        <div class="col-9">
                                                                                            <MudForm>
                                                                                                <MudRadioGroup @bind-Value="@material.Valor">
                                                                                                    <MudRadio Value="@("Si")" Color="Color.Primary">Si</MudRadio>
                                                                                                    <MudRadio Value="@("No")" Color="Color.Secondary">No</MudRadio>
                                                                                                </MudRadioGroup>
                                                                                            </MudForm>
                                                                                        </div>
                                                                                    </div>
                                                                                }                                                                               
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>                                                                                                                      
                                                            }
                                                            </div>
                                                        </div>
                                                    </MudCardContent>
                                                    <MudCardActions>
                                                        <MudButton ButtonType="MudBlazor.ButtonType.Button" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Cancelar</MudButton>
                                                        <MudButton ButtonType="MudBlazor.ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Guardar</MudButton>
                                                    </MudCardActions>
                                                </MudCard>
                                            </MudItem>
                                      
                                    </EditForm>
                                }
                                }else{
                                    @if (configPantalla != null && configPantalla.Cuerpo.Count() > 1)
                                    {
                                        <div class="mb-3 mt-3">
                                            <div class="row">
                                                <div class="col-6">
                                                    <MudSelect T="string" Label="Selecciona una zona"
                                                               Value="zonaRevision" AnchorOrigin="Origin.BottomCenter">                                             
                                                    </MudSelect>
                                                </div>
                                                @if (listaTipoZona.Count() > 0)
                                                {
                                                    <div class="col-6">
                                                        <MudSelect T="string" Label="Selecciona un tipo"
                                                                   Value="TipozonaSelecionada" ValueChanged="OnTipoZonaAgrupadoSeleccionadaChanged" AnchorOrigin="Origin.BottomCenter">

                                                            @foreach (var tipoZona in listaTipoZona)
                                                            {
                                                                <MudSelectItem Value="@tipoZona.Nombre" />
                                                            }

                                                        </MudSelect>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        @if (MostrarFormularioAgrupado)
                                        {
                                            <EditForm Model="@CreateRegistro" OnValidSubmit="GuardarAgenda">
                                                <DataAnnotationsValidator />
                                                    <MudItem xs="12" sm="12">
                                                        <MudCard>
                                                            <MudCardContent>
                                                                <div class="container">
                                                                    <div style="overflow-y: auto; height: 500px;">
                                                                        @foreach (var zona1 in CreateRegistro)
                                                                        {
                                                                            <div class="container">
                                                                                <div class="row border">
                                                                                    <div class="col-3 justify-content-center align-items-center align-content-center text-center">
                                                                                        @zona1.Nombre
                                                                                    </div>
                                                                                    <div class="col-9 bg-gradient">
                                                                                        @foreach (var material in zona1.Propiedad)
                                                                                        {
                                                                                            if (!material.Deshabilitado)
                                                                                            {
                                                                                                <div class="row">
                                                                                                    <div class="col-3 justify-content-center align-items-center align-content-center text-center">
                                                                                                        <span>@material.Nombre </span>
                                                                                                    </div>
                                                                                                    <div class="col-9">
                                                                                                        <MudForm>
                                                                                                            <MudRadioGroup @bind-Value="@material.Valor" Disabled="@material.Deshabilitado">
                                                                                                                <MudRadio Value="@("Si")" Color="Color.Primary">Si</MudRadio>
                                                                                                                <MudRadio Value="@("No")" Color="Color.Secondary">No</MudRadio>
                                                                                                            </MudRadioGroup>
                                                                                                        </MudForm>
                                                                                                    </div>
                                                                                                </div>
                                                                                            }
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </MudCardContent>
                                                            <MudCardActions>
                                                    <MudButton ButtonType="MudBlazor.ButtonType.Button" OnClick="CerrarModalNuevo" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Cancelar</MudButton>
                                                    @if (numeroPagina < cantidadPagina)
                                                    {
                                                        <MudButton ButtonType="MudBlazor.ButtonType.Button" OnClick="BtnSiguiente" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Siguiente</MudButton>
                                                    }
                                                    else
                                                    {
                                                        <MudButton ButtonType="MudBlazor.ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Guardar</MudButton>
                                                    }                                                   
                                                </MudCardActions>
                                                        </MudCard>
                                                    </MudItem>                                                
                                            </EditForm>
                                        }
                                    }                              
                                }
                        </MudPaper>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
      
}

@if (mostrarModalEditar)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container-fluid w-100">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="modal-title">Consulta</h5>
                            </div>
                                <div class="col-2 text-end">
                                <button type="button" class="close" @onclick="CerrarModalEditar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>                         
                        </div>
                        <div class="row">
                             <div> <b>Fecha creación:</b> @EditarAgenda.FechaCreacion <b>por</b> @EditarAgenda.UsuarioCreador</div> 
                        </div>
                        <div class="row">
                            <div> <b>Area:</b> @EditarAgenda.Titulo</div> 
                        </div>
                    </div>                                                       
                </div>
                    <MudGrid>
                        <MudItem xs="12" sm="12">
                            <MudCard>
                                <MudCardContent>
                                <div class="container">
                                    <div style="overflow-y: auto; height: 500px;">
                                        @foreach (var zona3 in EditarAgenda.Cuerpo.Select(x=> x.zonaRevision).ToList())
                                        {
                                            @foreach (var zona4 in zona3)
                                            {                                             
                                                <div class="row m-2">
                                                    <div class="col-12">
                                                        <strong>
                                                            @zona4.Nombre &nbsp;
                                                            @if (zona4.tipoZonaRevision.Count() > 0)
                                                            {
                                                                @zona4.tipoZonaRevision[0].Nombre
                                                            }
                                                        </strong>
                                                    </div>
                                                </div>
                                                
                                                @foreach (var zona1 in zona4.materialRevision)
                                                {
                                                    <div class="container">
                                                        <div class="row border">
                                                            <div class="col-4 justify-content-center align-items-center align-content-center text-center">
                                                                @zona1.Nombre 
                                                            </div>
                                                            <div class="col-8 pt-1 pb-1">
                                                                @foreach (var material in zona1.Propiedad)
                                                                {
                                                                    @if (!material.Deshabilitado)
                                                                    {
                                                                        <div class="row">
                                                                            <div class="col-6 justify-content-center align-items-center align-content-center text-center">
                                                                                <span>@material.Nombre </span>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                @if (!string.IsNullOrEmpty(material.Valor))
                                                                                @if (material.Valor.Equals("Si"))
                                                                                {
                                                                                    <div class="justify-content-center align-items-center align-content-center text-center" style="color: green;">@material.Valor</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="justify-content-center align-items-center align-content-center text-center" style="color: red;">@material.Valor</div>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }                                          
                                            }                                           
                                        }
                                    </div>
                                </div>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton ButtonType="ButtonType.Button" OnClick="CerrarModalEditar" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">Cerrar</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}






