@page "/noticia"
@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle> Noticias </PageTitle>

<div class="col-12 navbar navbar-expand-lg justify-content-center mb-3"
     style="border-radius: 10px; background-color: #EEEEEE">
    <h1 class="navbar-brand" href="#" style="color: black; font-weight: bold">
        Noticias
    </h1>
</div>


<AuthorizeView Roles="SuperAdmin,AgregarNoticias" Context="context">
    <Authorized>
        <div class="mb-3">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" OnClick="@(() => NuevoModalNoticia())" Color="Color.Success" Class="ml-auto">Agregar</MudButton>
        </div>
    </Authorized>
</AuthorizeView>

<MudTable Items="@Elements">   
    <HeaderContent>
        <AuthorizeView Roles="SuperAdmin,EditarNoticias,EliminarNoticias" Context="context">
            <Authorized>
                <MudTh> </MudTh>
            </Authorized>
        </AuthorizeView>
        <MudTh> </MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <AuthorizeView Roles="SuperAdmin,EditarNoticias,EliminarNoticias" Context="context2">
            <Authorized>
               <MudTd>
                <div class="container-fluid">
                   <div class="row">
                       <AuthorizeView Roles="SuperAdmin,EditarNoticias" Context="context3">
                            <Authorized>
                               <div class="col-6">
                                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary" Title="Editar" Size="@Size.Medium" OnClick="@(() => Editar(context))" />
                               </div>
                            </Authorized>
                       </AuthorizeView>
                       <AuthorizeView Roles="SuperAdmin,EliminarNoticias" Context="context3">
                          <Authorized>
                               <div class="col-6">
                                    <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" Title="Eliminar" Size="@Size.Medium" OnClick="@(() => Eliminar(context))" />
                               </div>
                          </Authorized>
                       </AuthorizeView>
                   </div> 
                </div>                              
            </MudTd>
            </Authorized>
        </AuthorizeView>
        <MudTd> 
            <div class="container-fluid"> 
                <div class="d-flex justify-content-center">
                    <img src="@context.Imagen[0].NombreFisico" style="max-width: 300px; max-height: 300px;" />
                </div>  
            </div>
        </MudTd>
        <MudTd>
            <div class="container-fluid">
            <div class="col text-end fw-bold">
                    <div>@context.FechaNoticia </div>
            </div>
                <div class="col text-start fw-bold">
                    <div>
                      @if (context.TituloNoticia != null)
                      {
                       <h5>@context.TituloNoticia </h5>
                      }
                    </div>
                </div>
            <div class="col">
            @if(context.TextoNoticia != null)
                @if (@context.TextoNoticia.Length > 1000)
                {             
                            @((MarkupString)context.TextoNoticia.Replace("\n", "<br>").Substring(0, 1000))
                    <MudButton ButtonType="ButtonType.Submit" OnClick="@(() => AbrirModalNoticia(context))" Color="Color.Primary">Leer mas.. </MudButton>
                }
                else
                {
                    @((MarkupString)context.TextoNoticia.Replace("\n", "<br>"))
                            <MudButton ButtonType="ButtonType.Submit" OnClick="@(() => AbrirModalNoticia(context))" Color="Color.Primary">Leer mas.. </MudButton>
                }
            else
            {
                <MudButton ButtonType="ButtonType.Submit" OnClick="@(() => AbrirModalNoticia(context))" Color="Color.Primary">Leer mas.. </MudButton>
            }
                
            </div>
            </div>
          
            </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 3, 6, 9, int.MaxValue }"
                       RowsPerPageString="@rowsPerPageString"
                       InfoFormat="@infoFormat"
                       AllItemsText="@allItemsText"
                       HorizontalAlignment="@horizontalAlignment"
                       HideRowsPerPage="@hideRowsPerPage"
                       HidePageNumber="@hidePageNumber"
                       HidePagination="@hidePagination" />
    </PagerContent>

</MudTable>

@if (mostrarModalNoticia)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">                 
                    <div class="col text-start fw-bold">
                        <div>@FechaModalNoticia </div>
                    </div>
                    <button type="button" class="close" @onclick="CerrarModalNoticia">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col" style="height: 590px;">
                    <MudCarousel Class="mud-width-full mud-height-full" ShowArrows="@arrows" ShowBullets="@bullets" 
                    EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
                            @foreach (var item in ImagenModalNoticia)
                        {
                                <MudCarouselItem Transition="transition" style="background-color: #00bbb4">
                                <div class="d-flex align-content-center justify-content-center" style="height:100%">
                                        <MudImage Src="@item.NombreFisico" Class="rounded-lg" />
                                </div>
                                </MudCarouselItem>
                          }  
                    </MudCarousel>
                    </div>
                    @if (TituloModalNoticia != null)
                    {
                        <div class="col my-2"> <h4> @((MarkupString)TituloModalNoticia)</h4> </div>
                    }
                    @if (TextoModalNoticia != null)
                    {
                        <div class="col my-2"> @((MarkupString)TextoModalNoticia.Replace("\n", "<br>"))</div>
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CerrarModalNoticia">Cerrar</button>                  
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}

@if (mostrarModalNuevaNoticia)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col fw-bold">
                        <h5 class="modal-title">Agregar nueva noticia</h5>
                    </div>
                    <button type="button" class="close" @onclick="CerrarModalNuevaNoticia">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>             
                    <EditForm Model="@CreateNoticia" OnValidSubmit="GuardarNuevaNoticia">
                    <DataAnnotationsValidator/>
                    <MudGrid>
                        <MudItem xs="12" sm="12">
                            <MudCard>
                                <MudCardContent>
                                    <div class="row">
                                        <div class="col-2 d-flex justify-content-end align-items-center">
                                            <div>
                                                <MudFileUpload Accept=".png, .jpg" T="IBrowserFile" FilesChanged="UploadFilesNuevo">
							                        <ButtonTemplate Context="context2">
								                        <MudFab HtmlTag="label"
										                        Color="Color.Success"
										                        Icon="@Icons.Material.Filled.AttachFile"
										                        for="@context2.Id" />
							                        </ButtonTemplate>
						                        </MudFileUpload>  
                                            </div>
					                </div>
					                <div class="col-10 d-flex justify-content-start align-items-center my-2">
                                        <span> Seleccione una imagen</span>                                                                                
					                </div>
				                </div>
                                    @foreach (var item in listaImagenCargada)
                                    {
                                        <div class="row">
                                            <div class="col my-3">
                                                <img class="mx-2" src="@item.imagenSeleccionadaCargada" width="100" height="100" />
                                                @item.NombreimagenSeleccionadaCargada
                                                <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Error" OnClick="@( () => eliminarImagenCargadaNuevo(item) )" />
                                            </div>
                                        </div>
                                    }
                                <MudTextField @bind-Value="@CreateNoticia.TituloNoticia" Class="fw-bold" Lines="1" Label="Titulo de la noticia" />
				                <MudTextField @bind-Value="@CreateNoticia.TextoNoticia" Lines="8" Label="Descripción de la noticia" />
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton ButtonType="ButtonType.Button" OnClick="CerrarModalNuevaNoticia" Variant="Variant.Filled" Color="Color.Error" Class="ml-auto">Cancelar</MudButton>
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Guardar</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                   </MudGrid>
                </EditForm>                                    
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}

@if (mostrarModalEliminar)
{
<div class="modal show  d-flex justify-content-center align-items-center" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Eliminación</h5>
                <button type="button" class="close" @onclick="CerrarModalEliminar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar la noticia <span style="font-weight: bold;"> @RegistroEliminar </span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CerrarModalEliminar">Cancelar</button>
                <button type="button" class="btn btn-danger" @onclick="EliminarNoticia">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop show"></div>
}

@if (mostrarModalEditarNoticia)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container-fluid w-100">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="modal-title">Editar noticia</h5>
                            </div>
                            <div class="col-2 text-end">
                                <button type="button" class="close" @onclick="CerrarModalEditarNoticia">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div> <b>Fecha modificacion:</b> @EditarNoticia.FechaModificacion <b>por</b> @EditarNoticia.NombreModificacion</div>
                        </div>
                    </div>
                </div>
                <EditForm Model="@EditarNoticia" OnValidSubmit="GuardarEditarNoticia">
                    <DataAnnotationsValidator />
                    <MudGrid>
                        <MudItem xs="12" sm="12">
                            <MudCard>
                                <MudCardContent>
                                    <div class="row">
                                        <div class="col-2 d-flex justify-content-end align-items-center">
                                            <div>
                                                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFilesNuevo">
                                                    <ButtonTemplate Context="context2">
                                                        <MudFab HtmlTag="label"
                                                                Color="Color.Success"                                                             
                                                                Icon="@Icons.Material.Filled.Add"
                                                                for="@context2.Id"
                                                                Style="width: 50px; height: 50px;" />
                                                    </ButtonTemplate>
                                                </MudFileUpload>
                                            </div>
                                        </div>
                                        <div class="col-10 d-flex justify-content-start align-items-center my-2">
                                                <span> Seleccione una imagen</span>                                          
                                        </div>
                                    </div>
                                    
                                        @foreach (var item in listaImagenCargada)
                                        {
                                            <div class="row">
                                                <div class="col my-3">
                                                @if (item.imagenSeleccionadaCargada != null)
                                                {
                                                    <img class="mx-2" src="@item.imagenSeleccionadaCargada" width="100" height="100" />
                                                }else
                                                {
                                                    <img class="mx-2" src="@item.NombreFisicoimagenSeleccionadaCargada" width="100" height="100" />
                                                }
                                                @item.NombreimagenSeleccionadaCargada
                                                <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Error" OnClick="@( () => eliminarImagenCargada(item) )" />
                                                </div>
                                            </div>
                                        }                         
                              
                                    <MudTextField @bind-Value="@EditarNoticia.TituloNoticia" Class="fw-bold" Lines="1" Label="Titulo de la noticia" />
                                    <MudTextField @bind-Value="@EditarNoticia.TextoNoticia" Lines="12" Label="Descripción de la noticia" />
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton ButtonType="ButtonType.Button" OnClick="CerrarModalEditarNoticia" Variant="Variant.Filled" Color="Color.Error" Class="ml-auto">Cancelar</MudButton>
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Guardar</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}
