@page "/Usuarios"
@using Intranet.Modelos.Admin;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "SuperAdmin, Perfiles")]

<PageTitle>Usuarios</PageTitle>

<nav class="navbar navbar-expand-lg justify-content-center mb-5"
     style="border-radius: 10px; background-color: #00bbb4">
    <h1 class="navbar-brand" href="#" style="color: black; font-weight: bold">
        Usuarios
    </h1>
</nav>
<div class="row">
    <div class="Botones">
        <MudButton ButtonType="ButtonType.Submit" disabled="@procesando" Variant="Variant.Filled" OnClick="@(() => ActualizarUsuarios())" Color="Color.Primary" Class="ml-auto float-start">Sincronizar Usuarios</MudButton>
    </div>
</div>

@if (procesando)
{
    <div class="d-flex align-items-center justify-content-center">
        <div class="row">
            <div>
                <img src="img/IconCargando.jpg" width="200" height="200" />
            </div>
            <div>
                <h5>Procesando solicitud</h5>
            </div>
        </div>

    </div>
}
else
{

<div class="row">
    <div class="Buscador input-group mt-2">
        <input type="text" class="form-control" placeholder="Buscar..." @bind="searchTerm">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" @onclick="@(()=>Buscar())">Buscar</button>
        </div>
    </div>
</div>

<div class="row">
    <div class=" mt-2">
            <MudDataGrid T="CrudUsuario" Items="@Usuarios" ColumnResizeMode="@(_resizeColumn ? ResizeMode.Column : ResizeMode.Container)" RowsPerPage="5">
            <Columns>
                 <AuthorizeView Roles="SuperAdmin,EditarUsuario" Context="context">
                    <Authorized>
                    <TemplateColumn Title="Acciones" Sortable="false">
                        <CellTemplate Context="context2">
                            <AuthorizeView Roles="SuperAdmin,EditarUsuario" Context="context3">
                                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary" Title="Editar" Size="@Size.Medium" OnClick="@(() => Editar(context2))" />                  
                            </AuthorizeView>                           
                        </CellTemplate>
                        </TemplateColumn>
                    </Authorized>
                </AuthorizeView> 
                <PropertyColumn Property="x => x.FirstName" Title="Nombre" Sortable="true" />
                <PropertyColumn Property="x => x.Username" Title="Usuario"  Sortable="false" />
                    <PropertyColumn Property="x => x.NombreRolId" Title="Rol" Sortable="false" />
            </Columns>
            <PagerContent>
                    <MudDataGridPager T="CrudUsuario" RowsPerPageString="Filas por página" PageSizeOptions=@(new int[] {5, 10, 20}) />
            </PagerContent>
        </MudDataGrid>
    </div>
</div>
}

@if (mostrarModalEditar)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar</h5>
                    <button type="button" class="close" @onclick="CerrarModalEditar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <EditForm Model="@EditarUsuario" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <MudGrid>
                        <MudItem xs="12" sm="12">
                            <MudCard>
                                <MudCardContent>
                                    <MudTextField Label="Nombre" Disabled="true" @bind-Value="EditarUsuario.FirstName" For="@(() => EditarUsuario.FirstName)" />
                                    <MudTextField Label="Usuario" Disabled="true" @bind-Value="EditarUsuario.Username" For="@(() => EditarUsuario.Username)" />
                                    <MudTextField Label="Correo" Disabled="true" @bind-Value="EditarUsuario.Email" For="@(() => EditarUsuario.Email)" />
                                    <MudSelect T="string" Label="Rol"
                                               ErrorText="@(!UbicacionSeleccionadaValid ? "Debe seleccionar un rol" : "")"
                                               Value="EditarUsuario.NombreRolId" ValueChanged="OnUbicacionSeleccionadaChanged" AnchorOrigin="Origin.BottomCenter">
                                        @foreach (var Rol in ListRoles)
                                        {
                                            <MudSelectItem Value="@Rol" />
                                        }
                                    </MudSelect>
                                    <ValidationMessage For="@(() => EditarUsuario.NombreRolId)" />
                             
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton ButtonType="ButtonType.Button" OnClick="CerrarModalEditar" Variant="Variant.Filled" Color="Color.Error" Class="ml-auto">Cancelar</MudButton>
                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Guardar</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div> 

}
@code {

}
